.header {
    background-color: lightsalmon;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-bottom: 3rem;
}

.title, .item {
    display: flex;
    align-items: center;
}

.headerLink, .title a {
    padding-right: 1rem;
    color: black !important;
}