.profilContent {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.welcomeProfil {
    text-align: center;
}

.welcomeProfil, .postForm {
    margin-bottom: 2rem;
}

.postForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postForm form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.postForm input, .postForm select {
    border: 0;
    background-color: white;
    border-radius: 7px;
    padding: 5px;
    transition: border 0.3s;
    border: 2px solid transparent;
}

.postForm input:focus, .postForm select:focus {
    border: 2px solid black;
}

.postForm label {
    margin-top: 10px;
}

.postForm button {
    margin-top: 10px;
    width: fit-content;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.nbrRecette {
    margin-bottom: 2rem;
}

.card {
    position: relative;
}

.deleteBtn {
    font-size: 12px;
    position: absolute;
    top: 0;
    background: white;
    padding: 10px;
    left: 0;
    border-radius: 10px 0 10px 0;
    transition: color 0.3s;
}

.deleteBtn:hover {
    color: red;
}

.commentlist {
    margin-top: 1rem;
}

#comments {
    margin-top: 2rem;
}

.commentlist {
    list-style: none;
    background-color: white;
    padding: 1rem;
    border-radius: 7px;
}
